<div class="animated fadeIn">
    <div class="row">
        <form [formGroup]="form" (ngSubmit)="submit()">

            <div class="col-md-12">
                {{form.value | json}}
                <div class="form-group">
                    <label for="name">Organization Name</label>
                    <input type="text" formControlName="organizationNameEn" class="form-control" id="orgName" placeholder="Enter your name">
                </div>

                <div class="form-group">
                    <label for="name">Pan No.</label>
                    <input type="text" formControlName="panNo" class="form-control" id="panNo" placeholder="Enter your name">
                </div>

                <div class="form-group">
                    <label for="name">Address</label>
                    <input type="text" formControlName="addressEn" class="form-control" id="address" placeholder="Enter your name">
                </div>

                <!-- <div class="form-group">
                    <label for="name">Contact No.</label>
                    <input type="text" formControlName="contactNo" class="form-control" id="contactno" placeholder="Enter your name">
                </div> -->

                <div class="form-group">
                    <label for="name">Email</label>
                    <input type="text" formControlName="email" class="form-control" id="email" placeholder="Enter your name">
                </div>

                <div class="form-group">
                    <label for="name">Website</label>
                    <input type="text" formControlName="website" class="form-control" id="website" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="name">Logo</label>
                    <input type="file" formControlName="logo" class="form-control" id="fiLogo" placeholder="Enter your name">
                </div>

                <div class="form-group">
                    <label for="name">Eatablish Date:</label>
                    <input type="file" formControlName="establishedDateEn" class="form-control" id="estdate" placeholder="Enter your name">
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-secondary" type="button" style="margin-left:5px">Cancel</button>
                    <button class="btn btn-primary">Reset</button>
                </div>

            </div>


        </form>
    </div>
</div>