<form [formGroup]="form" (ngSubmit)="submit()" class="form-horizontal">
    <div class="card">
        <div class="card-header">
            <strong>Organization</strong>
            <div class="row col-form-label lngToggleSec">
                <div class="form-check form-check-inline mr-1" id="inline-radios">
                    <input class="form-check-input" name="language" id="english" type="radio" [(ngModel)]="language" [ngModelOptions]="{standalone: true}" [checked]="language=='en'" [value]="'en'">
                    <label class="form-check-label" for="english">English</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" name="language" id="nepali" type="radio" [(ngModel)]="language" [ngModelOptions]="{standalone: true}" [checked]="language=='np'" [value]="'np'">
                    <label class="form-check-label" for="nepali">Nepali</label>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="row col-sm-12 col-md-9">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{labels.orgName}}</label>
                            <div class="col-md-9">
                                <input *ngIf="language=='en'" type="text" formControlName="organizationNameEn" class="form-control form-control-sm" placeholder="{{plcHldrEn.orgName}}">
                                <input *ngIf="language=='np'" type="text" formControlName="organizationNameNp" class="form-control form-control-sm" placeholder="{{plcHldrNp.orgName}}">
                                <span class="help-block">Please Enter Organization Name</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label">{{labels.panNo}}</label>
                            <div class="col-md-9">
                                <input type="text" formControlName="panNo" class="form-control form-control-sm" id="panNo" placeholder="{{plcHldr.panNo}}">
                                <span class="help-block">Please Enter Pan No. </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="input-small">{{labels.address}}</label>
                            <div class="col-md-9">
                                <input *ngIf="language=='en'" type="text" formControlName="addressEn" class="form-control form-control-sm" id="address" placeholder="{{plcHldrEn.address}}">
                                <input *ngIf="language=='np'" type="text" formControlName="addressNp" class="form-control form-control-sm" id="address" placeholder="{{plcHldrNp.address}}">
                                <span class="help-block">Please Enter Address</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="input-small">{{labels.email}}</label>
                            <div class="col-md-9">
                                <input type="text" formControlName="email" class="form-control form-control-sm" id="email" placeholder="{{plcHldr.email}}">
                                <span class="help-block">Please Enter email</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="input-small">{{labels.website}}</label>
                            <div class="col-md-9">
                                <input type="text" formControlName="website" class="form-control form-control-sm" id="website" placeholder="{{plcHldr.website}}">
                                <span class="help-block">Please Enter Website</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label" for="input-small">{{labels.estd}}</label>
                            <div class="col-md-9">
                                <input *ngIf="language=='en'" type="text" formControlName="establishedDateEn" class="form-control form-control-sm" placeholder="{{plcHldrEn.estd}}">
                                <input *ngIf="language=='np'" type="text" formControlName="establishedDateNp" class="form-control form-control-sm" placeholder="{{plcHldrNp.estd}}">
                                <span class="help-block">Please Enter  Establish Date</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <img [src]="logoImg" class="logoImg" (click)="popupFileChooser()" />

                    <input (change)="fileChanged($event)" type="file" formControlName="logo" id="fiLogo" style="display: none" accept="image/*">
                    <span class="help-block" style="display:none">Please enter your password</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-dot-circle-o"></i>Submit</button>
            <button class="btn btn-sm btn-danger" type="reset" style="margin-left: 10px"><i class="fa fa-ban"></i> Reset</button></div>
    </div>
</form>