.lngToggleSec {
    float: right;
    margin-right: 0px;
    padding: 0px;
    .form-check {
        padding-right: 5px;
    }
}

.logoImg {
    max-height: 170px;
    min-height: 100px;
    min-width: 100px;
    max-width: 100%;
    border: 1px solid #555;
    margin: 0 auto;
    cursor: pointer
}

input {
    padding: 4px 8px !important;
}

.input-group-append {
    cursor: help;
}

.errorAlertSection {
    z-index: 1020;
    position: absolute;
    right: 5px;
    top: 5px;
    overflow-y: scroll;
    max-height: 98vh;
    opacity: .8;
}

.errorAlertSection::-webkit-scrollbar {
    width: 0px;
}

.alert {
    margin-bottom: 5px !important;
}